<div class="node-header">
  <% if(node.publish_date) 
       # date_format = "%Y.%m.%d %H:%M"
       date_format = "%Y.%m.%d" %>
  <% end %>
  <div class="date"><%= node.publish_date.strftime(date_format) %>|</div>
  <h2 class="node-name"> <%= link_to node.name, node %></h2>

<!--   <div class="icon icon-user">posted by Dave</div> -->
</div>
<div id="node-contents">
  <%= node.to_html %>
</div>
