/*
  Color scheme: 
  http://colorschemedesigner.com/#3w21Hg3--w0w0

  Inspired by: 
  - http://gimp-tutorials.net/gimp-glow-effect
  - http://www.smashingmagazine.com/2008/02/20/45-more-excellent-blog-designs/
  - http://www.brandonmuth.com/
  */

body {
    margin: 0px;
    padding: 0px;
    background: #13334a url('/images/background.png') top left no-repeat;
    font: 13px/1.3 Verdana,"Lucida Grande",Arial,Helvetica,Sans-Serif;
    color: #D8D8D8;
    text-align: left;
}

a:focus, a:hover {color:#A67029;}
a {
    color: #ffc77f;
    text-decoration: none;
}

.container {
    margin: 0px;
    padding: 0px;
}

#squeeze {
    margin: 240px 10px 20px 152px;
    width: 646px;
}

#content {
    padding-right: 15px;
    h1, h2, h3, h4, h5 {
	font-size: 13px;
	color: #ffc77f;

	}
}

#sidebar {
    text-align: right;

    a:focus, a:hover {color:#A67029;}
    a {
	color: #ffffff;
	text-decoration: none;
    }
}

#footer {
    margin-left: 320px;
}

h2.node-name {
    a{
	font-size: 24px;
    }
}

h2#search-header {
    font-size: 24px;
}

div.date {
    font-size: 24px;
    float:left;
}



.icon {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.directory {
    background-image: url(/images/folder.png);
}

.icon-date {
    background-image: url(/images/date.png);
}

.icon-user {
    background-image: url(/images/user.png);
}

.file {
    background-image: url(/images/page_white_text.png);
}

ul#main-nav {
    padding: 0;
    margin: 0;

    li {
	list-style: none;
    }
}

#search {
	margin-left: 322px;
}

#node-contents p img {
border: 2px solid #BDE4FF;
/* border: 2px solid #A67029; */
float: left;
margin: 3px 10px 6px 0px;

}