/*
  Color scheme: 
  http://colorschemedesigner.com/#3w21Hg3--w0w0

  Inspired by: 
  - http://gimp-tutorials.net/gimp-glow-effect
  - http://www.smashingmagazine.com/2008/02/20/45-more-excellent-blog-designs/
  - http://www.brandonmuth.com/

  Heading Font: Magnum
  */

body {
    margin: 0px;
    padding: 0px;
    background: #13334a url('/images/background.png') top left no-repeat;
    font: 13px/1.3 Verdana,"Lucida Grande",Arial,Helvetica,Sans-Serif;
    color: #D8D8D8;
    text-align: left;
}

a:focus, a:hover {color:#A67029;}
a {
    color: #ffc77f;
    text-decoration: none;
}

.container {
    margin: 0px;
    padding: 0px;
}

.squeeze {
    margin: 240px 10px 20px 152px;
    width: 646px;
}

#footer {
    margin-top: 50px;
}

#content {
    padding-right: 15px;
    h1, h2, h3, h4, h5 {
	font-size: 13px;
	color: #ffc77f;

	}
}

#sidebar {
    text-align: right;

    a:focus, a:hover {color:#A67029;}
    a {
	color: #ffffff;
	text-decoration: none;
    }
}

h2.node-name {
    a{
	font-size: 24px;
    }
}

h2#search-header {
    font-size: 24px;
}

div.date {
    font-size: 24px;
    float:left;
}

#errorExplanation{
    h2 { 
	color: #ff7f7f;
    }

    ul li { color: #ff7f7f;}
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(/images/exclamation.png);
}

.icon {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.directory {
    background-image: url(/images/folder.png);
}

.icon-date {
    background-image: url(/images/date.png);
}

.icon-user {
    background-image: url(/images/user.png);
}

.file {
    background-image: url(/images/page_white_text.png);
}

ul#main-nav {
    padding: 0;
    margin: 0;

    li {
	list-style: none;
    }
}

#search {
	margin-left: 322px;
}

#node-contents p img.img-left {
border: 2px solid #BDE4FF;
/* border: 2px solid #A67029; */
margin: 3px 10px 6px 0px;
float:left;

}

.center-image {
    float: none;
}

/* Hide text inside span inside header links */
h4.ir a span {
    display:block;
    width:0;
    height: 0;
    overflow: hidden;
}

h4 { 
    margin-bottom: 5px;
}

h4.home a {
	display:block;
	background: url("/images/main_nav_headers.png") no-repeat -64px -5px;
	height: 23px;
	line-height: 23px;
	margin: 0 0 0 84px;
}

h4.about a {
    display:block;
    background: url("/images/main_nav_headers.png") no-repeat -60px -33px;
    height: 23px;
    line-height: 23px;
    margin: 0 0 0 80px;
}


h4.previous a {
    display:block;
    background: url("/images/main_nav_headers.png") no-repeat -5px -60px;
    height: 23px;
    line-height: 23px;
    margin: 0 0 0 25px;
}

h4.next a {
    display:block;
    background: url("/images/main_nav_headers.png") no-repeat -49px -88px;
    height: 23px;
    line-height: 23px;
    margin: 0 0 0 70px;
}

h2#comments-header {
    background: url("/images/comment-header.png") top left no-repeat;
    color: #D8D8D8;
    font-size: 24px; 
    text-indent: -9999px;
}

.comment-container {
    width: 460px;
    margin: 10px auto;
}

.comment-top {
    width:100%;
    height:19px;
    background:url("/images/comment-top.png") no-repeat left top;
    padding: 0px;
    margin: 0px;
}

.comment-content-container{
    background: #0d2333;
}

.comment-content {
    width: 420px;
    padding:0px;
    margin:0 20px;
    overflow: hidden;
}

.comment-bottom {
    height:19px;
    background:url("/images/comment-bottom.png") no-repeat left bottom;
    
}

.comment-author {
    color: #FFC77F;
}