/*
  Blue lines: 
  1px #87ceff every 27 px
  Color scheme: 
  http://colorschemedesigner.com/#3w21Hg3--w0w0

  Inspired by: 
  - http://gimp-tutorials.net/gimp-glow-effect
  - http://www.smashingmagazine.com/2008/02/20/45-more-excellent-blog-designs/
  - http://www.brandonmuth.com/
  */
body {
  margin: 0px;
  background: #13334a url("/images/background.png") top left no-repeat;
  font: 13px/1.3 Verdana,"Lucida Grande",Arial,Helvetica,Sans-Serif;
  color: #D8D8D8; }

a:focus, a:hover {
  color: #A67029; }

a {
  color: #ffc77f;
  text-decoration: none; }

#squeeze {
  margin: 240px 10px 20px 152px;
  width: 646px; }

#sidebar {
  text-align: right; }
  #sidebar a:focus, #sidebar a:hover {
    color: #A67029; }
  #sidebar a {
    color: #ffffff;
    text-decoration: none; }

h2.node-name a {
  font-size: 24px; }

div.date {
  font-size: 24px;
  float: left; }

#content {
  padding-right: 15px; }
  #content h1, #content h2, #content h3, #content h4, #content h5 {
    font-size: 13px;
    color: #ffc77f; }

/* #logo { */
/*     height: 67px; */
/*     text-indent: -2000px */
/* } */
/* #footer { */
/*      height: 1300px; */
/*      background: url('/images/bottom.jpg') bottom center no-repeat; */
/* } */
.icon {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: 0 0; }

.icon-date {
  background-image: url(/images/date.png); }

.icon-user {
  background-image: url(/images/user.png); }

li.directory {
  background-image: url(/images/folder.png); }

li.file {
  padding-left: 20px;
  background-image: url(/images/page_white_text.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

ul#main-nav {
  padding: 0;
  margin: 0; }
  ul#main-nav li {
    list-style: none; }

#search {
  margin-left: 322px; }
