/*  http://colorschemedesigner.com/#0C51T1BsO6q6q */
.primary-1 { background-color: #E6E0DA }
.primary-2 { background-color: #DAD5D0 }
.primary-3 { background-color: #D5C7B7 }
.primary-4 { background-color: #E8E3DD }
.primary-5 { background-color: #E8E3DE }

.secondary-a-1 { background-color: #E6E2DA }
.secondary-a-2 { background-color: #DAD7D0 }
.secondary-a-3 { background-color: #D5CDB7 }
.secondary-a-4 { background-color: #E8E5DD }
.secondary-a-5 { background-color: #E8E5DE }

.secondary-b-1 { background-color: #E6DCDA }
.secondary-b-2 { background-color: #DAD2D0 }
.secondary-b-3 { background-color: #D5BCB7 }
.secondary-b-4 { background-color: #E8DFDD }
.secondary-b-5 { background-color: #E8E0DE }

.complement-1 { background-color: #8A8F91 }
.complement-2 { background-color: #838889 }
.complement-3 { background-color: #738187 }
.complement-4 { background-color: #959A9C }
.complement-5 { background-color: #959A9C }

/* HTML Tag Styles */
body {
    background-color: #959A9C;
    color: #000;
    font-family:verdana,sans-serif;
    font-size:12px;
    padding:0;
    margin: 0 auto;
    width: 56em;
}

h1 {
    margin: 0.5em 0;
    font-size: 200%;
}

p {
    color:#222222;
    font-size:13px;
    line-height:18px;
    margin:0 0 13px;
    padding: 0px;
}

a:link {
    color:#DAD7D0;
    margin:0;
    padding:0;
}

a img {
    border:0 none;
    padding:0;
}

a:visited {
    color:#DAD7D0;
}

a:hover {
    color:#838889;
}

ul
{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}


/****** Custom ******/

#main {
    width: 750px;
}

.center {
    text-align:left;
    width:500px;
    margin:0px auto;
}

.left-margin {
    padding-left: 20px;
}

.navigation {
    margin-bottom: 20px;
}

#header {
    border-bottom: 6px solid #DAD7D0;
    background-color: #EAE3DD;
}

#content {
    background-color: white;
}

.logo {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Console', Monaco, monospace;
    letter-spacing:15px;
}

/* Files and Folder Lists*/

li.directory {
    padding-left: 20px;
    background-image: url(/images/folder.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

li.file {
    padding-left: 20px;
    background-image: url(/images/page_white_text.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Notice */
#notice {
    background-color: #264B24;
    color: #fff;
}

/* Anywhere you need image followed by text */
.img-text img {
    display: block;
    float: left;
    padding: 5px;
}
.img-text div {
    padding: 5px;
}

.node-name {
    font-size: 18px;
    font-weight: bold;   
    color: #738187;
}

.node-publish_date {
    font-size: 10px;
    color: #959A9C;
}
.node-header {
    margin-bottom: 10px
}

/* Pager, Page Numbers, Paging */

#pager_wrap {
    height: 35px;
}

.page-size  {
    float:right;
}

.pager {
    float: left;
}

.page-numbers  {
    border:1px solid #CCCCCC;
    color:#808185;
/*     display:block; */
/*     float:left; */
    font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 11px;
/*     margin-right:3px; */
    padding:4px 4px 3px;
    text-decoration:none;
}

.page-numbers.current {
    background-color:#808185;
    border:1px solid #808185;
    color:#FFFFFF;
    font-weight:bold;
}